.idea/
__pycache__/
.ipynb_checkpoints/
.pytest_cache/
.gitignore
optbayesexpt.egg-info/
Data/.ipynb_checkpoints/
Docs/images/Thumbs.db
Demos/multi_run_data/
Docs/Untitled.ipynb
localstuff/
build/
dist/
_build/

